body {padding: 0%; margin: 0%;   ;font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; }

 

 
    .header{ position: fixed; background-color: rgba(6, 6, 6, 0.228); z-index: 20;width: 100%;overflow:hidden;height: 100px; overflow-wrap: normal;}

     
 
  
 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 70px;
  right: 45px;
  font-size: 60px;
  background-color:#2c2a2a84;
}
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 100px;
    }
  }

  .open{ margin-left: 150px;}


.presentazione{text-align: center;}
    
   
     
   
  .wrapper2 {  
    background-color: #55535394;
    
   
    
    
}

.wrapper3{max-width: 1800px;
  background-color: #000000db;
  min-height: 500px;
  margin: 100px auto;
  padding: 50px;
   }

     h4{ text-decoration: #e60808;text-align: center;}

     .simone{ float: left;width: 33%;margin-top: 23px;}
     .instagram{ 
				width: 34%;
				float: left;
				margin-top: 25px;
				}
				
	.link_social {
		float: left;
		margin-left: 20px;
	}

      /*-----/* about*/ 

      

      .about{ font-size: 70px; text-align: center;  font-family:'Courier New', Courier, monospace}
      .about{ float:left  }
      .about{margin-right: 50%; margin-left: 40px;} 
      .about{ margin-top: 20%;}
      
      
      .competenze{ margin-top: 10%;float: left; margin-right: 50%;margin-left: 20px; font-size: large; font-size: 50; font-family:'Courier New', Courier, monospace  }

      

      

      .fotoabout{ 
        padding: 20px;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.193);
        font-size: 30px;}
        .fotoabout{position: absolute;margin-left: 50%;margin-top: 10%;  }

        .fotoabout2{background-color: #001858;padding: 20px;
          text-align:center;
          background-color:rgba(108, 194, 3, 0.497);
          font-size: 65px;position: absolute;margin-left: 1%;margin-top: 65%;padding: 9%;height: 300px;width: 25%; font-family:    monospace }

          .fotoabout3{background-color: #001858;padding: 20px;
            text-align: center;
            background-color:rgba(156, 12, 12, 0.447);
            font-size: 50px;position: absolute;margin-left: 47%;margin-top: 85%;padding: 5%;height: 300px;width: 25%; font-family:   monospace }

            .fotoabout4{ 
               
              
              position: absolute;margin-left: 15%;padding: 5%;height: 300px;width: 25%; margin-top: 5%; }

              .fotoabout5{background-color: #001858;padding: 20px;
                text-align: center;
                background-color:rgba(5, 115, 110, 0.429);
                font-size: 30px;position: absolute;margin-left: 80%;margin-top: 80%;padding: 5%;height: 300px;width: 25%; }

                .fotoabout6{background-color: #001858;padding: 20px;
                  text-align: center;
                  background-color:rgba(5, 115, 110, 0.295);
                  font-size: 30px;position: absolute; padding: 2%;height: 20px;width: 10%; margin-top: 20%; margin-left: 2%; }
                  
                  .color{background-color:rgba(0,0,0, 0.9) ;}
                   .graffabout{position: fixed; margin-top: 20px; }

                  
                  /*-----/* lavori */ 
                  .gheisha{ float: left; }
                  .cascata{float: right; margin-top: 1%; }
                   
                  .pappagalli{margin-left: 50%;}

                  .brand{text-align: center; background-color:white;}
                  .animazione{text-align: center; background-color:white;}
                  .postscape{margin-left: 50%; float: right;margin-bottom: 100px;}
                  .tshert{float: right;}
                  .muertos{position: absolute; margin-bottom: 100px;}
                  .lola{position: absolute;float: right; margin-left: 50%;}

                  

                  

